git pullbody {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background-image: linear-gradient(to right bottom, black, red, green, yellow);
    color: green;
    padding: 10px;
    font-size: 16pt;
}

footer {
    background-color: black;
    color: green;
    padding: 10px;
    font-size: 16pt;
    text-align: right;
}

a {
    text-decoration: none; 
    color: green;
    transition: 0.5s;
    text-shadow: 2px 2px 1px rgb(228, 220, 220);
}

a:visited {
    color: blueviolet;
    background-color: whitesmoke;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: red;
    background-color: whitesmoke;
    transition: 0.2s;
}

a:not(:hover) {
    transition: 4.5s;
}

a:active {
    color: palevioletred;
    background-color: greenyellow;
}
