body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background-image: linear-gradient(to right bottom, black, red, green, yellow);
    color: green;
    padding: 10px;
    font-size: 16pt;
}

footer {
    background-color: black;
    color: green;
    padding: 10px;
    font-size: 16pt;
    text-align: right;
}

a {
    text-decoration: none; 
    color: green
}

a:visited {
    color: blueviolet;
    background-color: whitesmoke;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: whitesmoke;
}

a:active {
    color: palevioletred;
    background-color: greenyellow;
}
