body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background-image: linear-gradient(to right bottom, black, red, green, yellow);
    color: green;
    padding: 10px;
    font-size: 16pt;
}

footer {
    background-color: black;
    color: green;
    padding: 10px;
    font-size: 16pt;
    text-align: right;
}

a {
    text-decoration: none; 
    color: green;
    transition: 4.5s;
    text-shadow: 2px 2px 1px rgb(228, 220, 220);
}

a:visited {
    color: blueviolet;
    background-color: whitesmoke;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: red;
    background-color: whitesmoke;
    transition: 0.2s;
}

a:active {
    color: palevioletred;
    background-color: greenyellow;
}

header:hover{
    transition: 0.55s;
    background-image: linear-gradient(to right bottom, rgb(255, 255, 255), rgb(0, 247, 255), rgb(2, 0, 128), rgb(212, 0, 255));
    color:rgba(255, 255, 255, 0.596);
}

footer:hover{
    transition: 0.75s;
    background: rgba(141, 160, 155, 0.5);
    color:aliceblue;
}

header:active, footer:active{
    transform: scale(0.75);
}
